.contentHeaderBanner {
    /*margin-left: 12%; /* accounting for sidebar */
    background: green;
}

.contentHeaderText {
    margin-left: 12%;
    color: black;
    font-size: 300%;
    text-align: center;
}

.lessonHeaderText {
    margin-left: 12%;
    color: black;
    font-size: 200%;
    text-align: center;
}
.cInText {
  font-family: courier;
  color:gray;
}
.important {
  color: red;
}
.example {
  font-family: courier;
  color: gray;
  margin-left: 2%;
}

.lessonContentHeader {
    margin-left: 12%;
    color: black;
    font-size: 200%;
    font-family: courier;
    text-align: center;
    padding-top: 10px;
}

.lessonContent {
    height: 40%;
    margin-left: 12%;
    color: black;
    font-size: 100%;
    margin-right: 2%;
    overflow-y: scroll;
}

.testDisplay {
    height: 80%;
    margin-left: 12%;
    color: black;
    font-size: 100%;
    margin-right: 2%;
    overflow-y: scroll;
}

.lessonBarrier {
    border-top: 3px solid #000;
}

.tryText {
    margin-left: 12%;
    font-family: courier;
    color: black;
    font-size: 130%;
}
.codeEntry {
    resize: none;
    font-family: courier;
    margin-left: 12%;
    width: 84%;
    height: 20%;
    max-height: 20%;
    max-width: 84%;
}

.content {
    margin-left: 12%; /* accounting for sidebar */
}

.contentText {
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
}

.button {
    margin-left: 12%;
    width: 5%;
}
.submitButton {
    margin-left: 12%;
    margin-top: 5px;
}

.center {
    margin-left: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    background-color: #fffdd0;
    padding: 0;
    margin: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
}
