.contentHeaderBanner {
    /*margin-left: 12%; /* accounting for sidebar */
    background: green;
}

.contentHeaderText {
    margin-left: 12%;
    color: black;
    font-size: 300%;
    text-align: center;
}

.lessonHeaderText {
    margin-left: 12%;
    color: black;
    font-size: 200%;
    text-align: center;
}

.lessonContentHeader {
    margin-left: 12%;
    color: black;
    font-size: 200%;
    font-family: courier;
    text-align: center;
    padding-top: 10px;
}

.lessonContent {
    margin-left: 12%;
    color: black;
    font-size: 100%;
    margin-right: 2%;
}

.lessonBarrier {
    border-top: 3px solid #000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.codeEntry {
    resize: none;
    font-family: courier;
    margin-left: 12%;
}

.content {
    margin-left: 12%; /* accounting for sidebar */
}

.contentText {
    font-size: 150%;
    margin-left: 10%;
    margin-right: 10%;
}

.button {
    margin-left: 12%;
    width: 5%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    background-color: #fffdd0;
    padding: 0;
    margin: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
}