.sidebar {
    height: 100%;
    width: 12%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 1%;
}

.sidebar a {
    padding: 4% 2% 4% 2.5%;
    text-decoration: none;
    font-size: 200%;
    color: green;
    display: block;
}