<link rel="stylesheet" type="text/css" href="sidebar.css">
<link rel="stylesheet" type="text/css" href="home.css">
<div class="page">
<div class="sidebar">
    <a href="/">Home</a>
    <div class="divider"></div>
    <a href="/Problems">Problems</a>
    <div class="divider"></div>
    <a href="/Progress">Progress</a>
    <div class="divider"></div>
    <a href="/About">About</a>

</div>

<div class="contentHeaderBanner">
    <div class="lessonHeaderText">
        <h>Lesson 1</h>
    </div>
</div>

<div class="lessonContentHeader">
    <h>Creating a variable in C</h>
</div>
<div class="lessonContent">
    <p>When creating a variable in C, you must specify the specific type of variable you would like to create. When you want to create a new integer variable, you can state <span style="font-family:courier; color:gray">int x = 7;</span> where <span style="font-family:courier; color:gray">int</span> specifically mentions the data type, <span style="font-family:courier; color:gray">x</span> is the name of the variable, and <span style="font-family:courier; color:gray">7</span> is the value assigned to x.</p>

    <p>After every variable declaration in C, there must be a semicolon after the declaration.</p>

        <p>Using this information, please create the variable a that contains an integer equal to the value 4 <span style="color:red"> in proper C syntax.</span></p>
</div>
<div class="lessonBarrier"></div>
<b>
    <!--- have an onload function that sets an attribute of this form with the users name so that the node function can determine who is running the code-->
    <form action = "/submission" method = "POST">
        <textarea type = "text" name = "submission"
            cols = "70" rows = "10" maxlength = "350"
            class="codeEntry"></textarea>
        <input type = "submit" value = "Submit"></input>
    </form>
</b>
