<link rel="stylesheet" type="text/css" href="sidebar.css">
<link rel="stylesheet" type="text/css" href="home.css">
<div class="page">
<div class="sidebar">
    <a href="/">Home</a>
    <a href="/Problems">Problems</a>
    <a href="/Progress">Progress</a>
    <a href="/About">About</a>
    
</div>

<div class="contentHeaderBanner">
    <div class="contentHeaderText">
        <h>codeTeachers</h>
        <p>Where the code is taught</p>
    </div>
</div>

<div class="content">
    <div class="contentText">
        This website was created as our project for CS320 Fundamentals of Software Engineering. The requirements of the project included having multiple pages, storing user data, and
        modifying stored user data. This project meets the data requirements by allowing users to have accounts that save their progress as they go through the series of coding
        challenges that come with the tutorials on the website.
    </div>
    </div>

</div>