<link rel="stylesheet" type="text/css" href="sidebar.css">
<link rel="stylesheet" type="text/css" href="home.css">
<div class="page">
<div class="sidebar">
    <a href="/">Home</a>
    <div class="divider"></div>
    <a href="/Progress">Progress</a>
    <div class="divider"></div>
    <a href="/About">About</a>

</div>

<div class="contentHeaderBanner">
    <div class="contentHeaderText">
        <h>codeTeachers</h>
        <p id="splashText">Where code is taught</p>
    </div>
</div>
<script>
    /*
    CookieCipher takes the cookie header string and processes it into
    a JSON format with some helpful methods.
    */
    class CookieCipher {
        constructor(data) {
            if (data == undefined) {
                return;
            } else {
                const dataSplit = data.split('; ');
                for (const i of dataSplit) {
                    const tempSplit = i.split('=');
                    const name = tempSplit[0];
                    this[name] = "";
                        for (const i of tempSplit.slice(1)) {
                            this[name] += i;
                    }
                }
            }
        }
        /*
        If the user's browser has a cookie for the given element elem, the
        function will return true. Otherwise, function will return false.
        */
        hasElement(elem) {
            if (this[elem] != undefined) {
                return true;
            } else {
                return false;
            }
        }
    }
    cookie = new CookieCipher(document.cookie);
    console.log("COOKIE IS " + cookie['username']);
    if (cookie.hasElement('username')) {
        document.getElementById("splashText").innerHTML = "Hello, " + cookie['username'] + "!";
    }
</script>


<div class="content">
<div class="contentText">
    This website is designed to teach users concepts of the C programming
    language and then allow them to practice writing C and run it directly
    on the website. You may create a free account on the website and begin
    completing our lessons and coding challenges. Each lesson will explain 
    a new concept in C programming and will be accompanied by a coding 
    challenge section. To complete the coding challenges, write your code in
    the box provided and then press submit to have your code graded. During
    the grading several tests will be run on your code and if it passes all
    the tests then you may move onto the next lesson. To get started click below.
</div>
</div>

<div class="center">
<form action="/go" method="POST">
<button>
    Start Here!
</button>
</form>
</div>

</div>
