<link rel="stylesheet" type="text/css" href="sidebar.css">
<link rel="stylesheet" type="text/css" href="home.css">
<div class="page">
<div class="sidebar">
    <a href="/">Home</a>
    <a href="/Problems">Problems</a>
    <a href="/Progress">Progress</a>
    <a href="/About">About</a>
    
</div>

<div class="contentHeaderBanner">
    <div class="contentHeaderText">
        <h>codeTeachers</h>
        <p>Where the code is taught</p>
    </div>
</div>

<div class="content">
<div class="contentText">
    This website is designed to teach users concepts of the C programming
    language and then allow them to practice writing C and run it directly
    on the website. To get started click below. 
</div>
</div>

<div class="center">
<form action="/go" method="POST">
<button>
    Start Here!
</button>
</form>
</div>

</div>