<link rel="stylesheet" type="text/css" href="sidebar.css">
<link rel="stylesheet" type="text/css" href="home.css">
<div class="page">
<div class="sidebar">
    <a href="/">Home</a>
    <div class="divider"></div>
    <a href="/Progress">Progress</a>
    <div class="divider"></div>
    <a href="/About">About</a>

</div>

<div class="contentHeaderBanner">
    <div class="lessonHeaderText">
        <h>Lesson 2</h>
    </div>
</div>

<div class="lessonContentHeader">
    <h>Using variables in C</h>
</div>
<div class="lessonContent">
    <p>Create a new integer variable <span class="cInText">a</span> and set it
    equal to 5. Next, create a new integer variable <span class="cInText">b</span>
    and set it equal to 7.</p>
    <p>After creating both variables <span class="cInText">a</span> and <span class="cInText">b</span>, create a new character variable
    <span class="cInText">c</span> using valid C syntax. Defining a character variable in C can be done in
    the same way as creating an integer variable, where <span class="cInText">
    int</span> is replaced with <span class="cInText">char</span>, for
    instance, the example</p>
    <p class="example">char c = 3;</p>
    <p>will create a character variable with value 3. Using this information,
      assign the char variable c the value of a + b
      <span class="important"> in proper C syntax.</span></p>
</div>
<div class="lessonBarrier"></div>
<p class="tryText">Try it!</p>
<b>
    <!--- have an onload function that sets an attribute of this form with the users name so that the node function can determine who is running the code-->
    <form action = "/submission" method = "POST">
        <textarea type = "text" name = "submission"
            cols = "70" rows = "10" maxlength = "350"
            class="codeEntry" id="lessonInput"></textarea>
        <input type = "submit" value = "Submit"
        onclick="saveInput()" class="submitButton"></input>
    </form>
</b>

<script>
    const lessonName = "lesson2";
    function saveInput() {
        localStorage.setItem(lessonName, document.getElementById("lessonInput").value);
    }
    function loadInput() {
        let loadVal = localStorage.getItem(lessonName);
        console.log(loadVal);
        if (loadVal != null) {
            document.getElementById("lessonInput").value = loadVal;
        }
    }
    loadInput();
</script>
</div>
