<link rel="stylesheet" type="text/css" href="sidebar.css">
<link rel="stylesheet" type="text/css" href="home.css">
<div class="page">
<div class="sidebar">
    <a href="/">Home</a>
    <div class="divider"></div>
    <a href="/Progress">Progress</a>
    <div class="divider"></div>
    <a href="/About">About</a>

</div>

<div class="contentHeaderBanner">
    <div class="lessonHeaderText">
        <h>Lesson 4</h>
    </div>
</div>

<div class="lessonContentHeader">
    <h>Using Arrays in C</h>
</div>
<div class="lessonContent">
    <p>
        lesson content goes here
    </p>
</div>
<div class="lessonBarrier"></div>
<p class="tryText">Try it!</p>
<b>
    <!--- have an onload function that sets an attribute of this form with the users name so that the node function can determine who is running the code-->
    <form action = "/submission" method = "POST">
        <textarea type = "text" name = "submission"
            cols = "70" rows = "10" maxlength = "350"
            class="codeEntry" id="lessonInput"></textarea>
        <input type = "submit" value = "Submit"
        onclick="saveInput()" class="submitButton"></input>
    </form>
</b>

<script>
    const lessonName = "lesson4";
    function saveInput() {
        localStorage.setItem(lessonName, document.getElementById("lessonInput").value);
    }
    function loadInput() {
        let loadVal = localStorage.getItem(lessonName);
        console.log(loadVal);
        if (loadVal != null) {
            document.getElementById("lessonInput").value = loadVal;
        }
    }
    loadInput();
</script>
