<link rel="stylesheet" type="text/css" href="sidebar.css">
<link rel="stylesheet" type="text/css" href="home.css">
<div class="page">
<div class="sidebar">
    <a href="/">Home</a>
    <div class="divider"></div>
    <a href="/Progress">Progress</a>
    <div class="divider"></div>
    <a href="/About">About</a>

</div>

<div class="contentHeaderBanner">
    <div class="contentHeaderText">
        <h>codeTeachers</h>
        <p id="splashText">Where code is taught</p>
    </div>
</div>
<script>
    /*
    CookieCipher takes the cookie header string and processes it into
    a JSON format with some helpful methods.
    */
    class CookieCipher {
        constructor(data) {
            if (data == undefined) {
                return;
            } else {
                const dataSplit = data.split('; ');
                for (const i of dataSplit) {
                    const tempSplit = i.split('=');
                    const name = tempSplit[0];
                    this[name] = "";
                        for (const i of tempSplit.slice(1)) {
                            this[name] += i;
                    }
                }
            }
        }
        /*
        If the user's browser has a cookie for the given element elem, the
        function will return true. Otherwise, function will return false.
        */
        hasElement(elem) {
            if (this[elem] != undefined) {
                return true;
            } else {
                return false;
            }
        }
    }
    cookie = new CookieCipher(document.cookie);
    console.log("COOKIE IS " + cookie['username']);
    if (cookie.hasElement('username')) {
        document.getElementById("splashText").innerHTML = "Hello, " + cookie['username'] + "!";
    }
</script>


<div class="content">
<div class="contentText">
    View your progress below to see how many code challenges you've completed and how many you have left!
</div>
</div>
<table style="width:100%">
    <tr>
      <th>Lesson 1 ❌</th>
    </tr>
    <tr>
        <th>Lesson 2 ❌</th>
    </tr>
    <tr>
        <th>Lesson 3 ❌</th>
    </tr>
    <tr>
        <th>Lesson 4 ❌</th>
    </tr>
    <tr>
        <th>Lesson 5 ❌</th>
    </tr>
</table>

</div>